.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color, #FFFFFF);
  border-radius: var(--container-border-radius, 12px);
  padding: 0;
}

.phone {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 307px;
  height: 632px;
  background-size: cover;
  background: url('../../shared/assets/images/demo-phone.svg') no-repeat center;
  padding: 64px 11px 11px;
}
