.button {
  composes: headingSmallText from '../../styles/variables.css';
  color: var(--tertiary-text-color, #FFFFFF);
  background-color: var(--primary-color, #633CFF);
  border-radius: var(--element-border-radius, 8px);
  padding: 11px 27px;
  width: 100%;
  min-width: 114px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.button_primary:enabled:active {
  background-color: var(--secondary-color, #BEADFF);
  box-shadow: var(--contrast-shadow, 0 0 32px 0 rgba(99, 60, 255, 0.25));
}

.button_secondary {
  color: var(--primary-color, #633CFF);
  border: var(--contrast-broder, 1px solid #633CFF);
  background-color: transparent;
}

.button_secondary:enabled:active {
  background-color: var(--tertiary-color, #EFEBFF);
}

.button:disabled {
  opacity: var(--disabled-opacity, 0.25);
  cursor: default;
}
