.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  composes: bodySmallText from '../../../styles/variables.css';
  cursor: pointer;
  width: fit-content;
}

.inputContainer {
  position: relative;
  border-radius: var(--element-border-radius, 8px);
  border: var(--border, 1px solid #D9D9D9);
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  cursor: text;
  transition: 0.1s ease-in-out;
}

.inputContainer:focus-within {
  border: var(--contrast-broder, 1px solid #633CFF);
  box-shadow: var(--contrast-shadow, 0 0 32px 0 rgba(99, 60, 255, 0.25));
}

.container_error {
  border-color: var(--error-color, #FF3939);
}

.container_error .input {
  color: var(--error-color, #FF3939);
  caret-color: var(--error-color, #FF3939);
  padding-right: 12px;
}

.icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.input {
  composes: bodyMediumText from '../../../styles/variables.css';
  width: 100%;
  padding: 11px 16px 11px 16px;
  background-position: 16px center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  caret-color: var(--primary-color, #633CFF);
}

.input_withIcon {
  padding-left: 44px;
}

.input::placeholder {
  color: inherit;
  opacity: 0.5;
}

.errorText {
  position: absolute;
  right: 0;
  top: 50%;
  padding-right: 16px;
  transform: translateY(-50%);
  composes: bodySmallText from '../../../styles/variables.css';
  color: var(--error-color, #FF3939);
  white-space: nowrap;
  pointer-events: none;
}

