.button {
  composes: body_medium_text from '@shared/styles/variables.css';
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--secondary-text-color, #737373);
  transition: 0.2s ease-in-out;
}

.button:hover {
  color: var(--primary-text-color, #333333);
}

.button:active {
  opacity: 0.5;
}
