.tab {
  composes: headingSmallText from '../../../../styles/variables.css';
  color: var(--secondary-text-color, #737373);
  border-radius: var(--element-border-radius, 8px);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 11px 27px;
  transition: color 0.2s ease-in-out, background-color 0.1s ease-in-out;
  text-decoration: none;
  text-align: center;
}

.icon {
  width: 20px;
  height: 20px;
  transition: 0.2s ease-in-out;
}

.tab:hover {
  color: var(--primary-color, #633CFF);
}

.tab .icon path {
  transition: 0.2s ease-in-out;
}

.tab:hover .icon path {
  fill: var(--primary-color, #633CFF);
}

.tab_active {
  background-color: var(--tertiary-color, #EFEBFF);
  color: var(--primary-color, #633CFF);
}

.tab_active .icon path {
  fill: var(--primary-color, #633CFF);
}
