.inputContainer {
  border-radius: var(--border-radius, 8px);
  border: var(--border, 1px solid var(--border-color, #D9D9D9));
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  min-width: 480px;
  width: max-content;
  cursor: text;
  transition: 0.1s ease-in-out;
}

.inputContainer:focus-within {
  border: var(--contrast-broder, 1px solid var(--primary-color, #633CFF));
  box-shadow: var(--contrast-shadow, 0 0 32px 0 var(--contrast-shadow-color, rgba(99, 60, 255, 0.25)));
}

.container_error {
  border-color: var(--error-color, #FF3939);
}

.container_error .input {
  color: var(--error-color, #FF3939);
  caret-color: var(--error-color, #FF3939);
  padding-right: 12px;
}

.input {
  composes: bodyMediumText from '../../styles/variables.css';
  width: 100%;
  padding: 11px 16px 11px 44px;
  background-position: 16px center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  caret-color: var(--primary-color, #633CFF);
}

.input::placeholder {
  color: inherit;
  opacity: 0.5;
}

.errorTextContainer {
  display: flex;
  align-items: center;
  padding: 0 16px 0 0;
}

.errorText {
  composes: bodySmallText from '../../styles/variables.css';
  color: var(--error-color, #FF3939);
  white-space: nowrap;
}
