body {
  --primary-color: #633CFF;
  --secondary-color: #BEADFF;
  --tertiary-color: #EFEBFF;

  --primary-text-color: #333333;
  --secondary-text-color: #737373;
  --tertiary-text-color: #FFFFFF;

  --primary-bg-color: #FFFFFF;
  --secondary-bg-color: #FAFAFA;

  --contrast-shadow-color: rgba(99, 60, 255, 0.25);
  --shadow-color: rgba(0, 0, 0, 0.10);
  --contrast-shadow: 0 0 32px 0 var(--contrast-shadow-color, rgba(99, 60, 255, 0.25));
  --shadow: 0px 0px 32px 0px var(--shadow-color, rgba(0, 0, 0, 0.10));

  --border-color: #D9D9D9;
  --border: 1px solid var(--border-color, #D9D9D9);
  --contrast-broder: 1px solid var(--primary-color, #633CFF);

  --error-color: #FF3939;

  --element-border-radius: 8px;
  --container-border-radius: 12px;

  --disabled-opacity: 0.25;

  --font-family: "Instrument Sans", serif;
}

.headingMediumText {
  color: var(--primary-text-color, #333333);
  font-family: var(--font-family, "Instrument Sans"), serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}

.headingSmallText {
  color: var(--primary-text-color, #333333);
  font-family: var(--font-family, "Instrument Sans"), serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.bodyMediumText {
  color: var(--primary-text-color, #333333);
  font-family: var(--font-family, "Instrument Sans"), serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.bodySmallText {
  color: var(--primary-text-color, #333333);
  font-family: var(--font-family, "Instrument Sans"), serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.hideElement {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  opacity: 0;
}
