.container {
  padding: 0 23px;
}

div.image_placeholder {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin: 0 auto 25px;
}

div.name_placeholder {
  width: 160px;
  height: 16px;
  border-radius: 104px;
  margin: 0 auto 13px;
}

div.email_placeholder {
  width: 72px;
  height: 8px;
  border-radius: 104px;
  margin: 0 auto;
}
