.container {
  display: flex;
  width: fit-content;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.tab {
  composes: heading_small_text from '@shared/styles/variables.css';
  color: var(--secondary-text-color, #737373);
  border-radius: var(--element-border-radius, 8px);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 11px 27px;
  transition: color 0.2s ease-in-out, background-color 0.1s ease-in-out;
  text-decoration: none;
  text-align: center;
  user-select: none;
}

.icon {
  width: 20px;
  height: 20px;
  transition: 0.2s ease-in-out;
}

.tab:hover {
  color: var(--primary-color, #633CFF);
}

.tab .icon path {
  transition: 0.2s ease-in-out;
}

.tab:hover .icon path {
  fill: var(--primary-color, #633CFF);
}

.tab__active {
  background-color: var(--tertiary-color, #EFEBFF);
  color: var(--primary-color, #633CFF);
  pointer-events: none;
  cursor: default;
}

.tab__active .icon path {
  fill: var(--primary-color, #633CFF);
}

