@font-face {
  font-family: 'Instrument Sans';
  src: local('Instrument Sans'), url(../assets/fonts/InstrumentSans.ttf) format('truetype');
}

@font-face {
  font-family: 'Instrument Sans';
  src: local('Instrument Sans'), url(../assets/fonts/InstrumentSans-Italic.ttf) format('truetype');
  font-style: italic;
}
