.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color, #FAFAFA);
  margin: 0 40px 40px;
  border-radius: var(--container-border-radius, 12px);
}

.illustration {
  height: 160px;
  margin-bottom: 40px;
}

.heading {
  composes: heading_medium_text from "@shared/styles/variables.css";
  margin-bottom: 24px;
}

.description {
  composes: body_medium_text from "@shared/styles/variables.css";
  color: var(--secondary-text-color, #737373);
  max-width: 488px;
  text-align: center;
}


