.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--primary-bg-color, #FFFFFF);
  border-radius: var(--container-border-radius, 12px);
  padding: 16px 16px 16px 24px;
}

.logo {
  width: 120px;
}

.button {
  width: 114px;
}
